html, body {
	padding: 0;
	margin: 0;
}

body {
	padding-top: 40px;
	padding-left: 80px;
	width: 530px;
}

h1 {
	font: bold 22px "PT Serif";	
}

h3 {
	font: 16px "PT Serif";
	font-variant: small-caps;
}

p {
	font: 14px/1.5 "PT Serif";
	text-align: justify;
	hyphens: auto;
}

.formula_figure .figure_description {
	font: italic 11px "PT Serif";
	text-align: center;
	margin-top: -10px;
}

.formula_figure .figure_content {
	margin-bottom: 0;
}

.h2 {
	margin-top: 20px;
}

h1 + .h2 {
	margin-top: auto;
}

.h2 .text, .h2 .number {
	font: 18px/1.45 "PT Serif";
}

.h2 .number {
	position: absolute;
	left: 48px;
}

.definition {
	background-color: #fbf2d4;
	padding: 3px 20px;
	margin: 20px 0;
}

.definition .header {
	margin-bottom: 0;
}

.definition .header:first-child {
	display: inline-block;
	font: bold 16px "PT Serif";
	margin-right: 5px;
}

.definition .header .subject {
	font: 14px "PT Serif";
	margin-left: 10px;
}